header{
		background: radial-gradient(lightpink, lightyellow);
		font-size: 4vw;
		text-align: center;
	}

	article {
		box-shadow: 20px 5px 20px 10px deeppink;
		font-size: 3vw;
	}	

	html{
		background-color: lightpink;
	}

	section {
		border: 2px dotted hotpink;
		line-height: 3;
		word-break: keep-all;
		font-size: 2.8vw;
		border-radius: 28px;
		padding: 10px;
		background: radial-gradient(lightpink, lemonchiffon);
		box-shadow: 20px 5px 20px 10px hotpink;

	}

	h2 {
		text-align: center;
	    background: radial-gradient(white, lightpink);
		border-radius: 100px;
	}

	p{
		line-height: 2;
	}

@media screen and (max-width:900px){
	header{
		background: radial-gradient(lightpink, lightyellow);
		font-size: 5vw;
		text-align: center;
	}

	article {
		box-shadow: 20px 5px 20px 10px deeppink;
		font-size: 4vw;
	}	

	html{
		background-color: lightpink;
	}

	section {
		border: 2px dotted hotpink;
		line-height: 3;
		word-break: keep-all;
		font-size: 3.8vw;
		border-radius: 28px;
		padding: 10px;
		background: radial-gradient(lightpink, lemonchiffon);
		box-shadow: 20px 5px 20px 10px hotpink;

	}

	h2 {
		text-align: center;
	    background: radial-gradient(white, lightpink);
		border-radius: 100px;
	}

	p{
		line-height: 2;
	}
}
}
