@media screen and (max-width:900px){
	header {
	background-color: deeppink;
	text-align: center;
	}

	body {
		background-color: lightpink;
	}

	.me{
		position: absolute;
		top: 100px;
		left: 110px;
		background-color: red;
		background: linear-gradient(lightskyblue, lightblue, lightgreen);
		width: 120px;
		height: 120px;
		border-radius: 120px;
		color: seagreen;
		font-size: 4vw;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.design{
		position: absolute;
		top: 100px;
		right: 110px;
		background-color: green;
		background: linear-gradient(lightyellow, lightpink, purple);
		width: 120px;
		height: 120px;
		border-radius: 120px;
		color: purple;
		font-size: 4vw;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;

	}


	li {
		list-style: none;
	}
}